<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>The Thunderhead</title>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport"><!-- Global site tag (gtag.js) - Google Analytics -->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163403899-1">
	</script>
	<script>
	   window.dataLayer = window.dataLayer || [];
	   function gtag(){dataLayer.push(arguments);}
	   gtag('js', new Date());

	   gtag('config', 'UA-163403899-1');
	</script><!-- Embeds amongst other things -->
	<meta content="#36393E" name="theme-color"><!-- Ok so, this color "kinda black", "#36393E", however you want to call it;
                                                            its the same colour as the Discord chat background if you aren't using the inferior theme
                                                            I think its cool. -->
	<!--I have been doing html since 6th grade but this site, using the css framework I built, I can actually say I am proud of. Also remind me to post update logs here.-->
	<meta content="https://cdn.glitch.com/8d7ee13d-7445-4225-9d61-e264d678640b%2Fa09f5b5e-9054-4afc-8dcc-67ede76ea11c-Thunder.png" property="og:image">
	<meta content="Thunderhead" property="og:title">
	<meta content="The bot for the r/ScythePosts server" property="og:description">
	<meta content="The bot for the r/ScythePosts server" name="description">
	<meta content="5 days" name="revisit-after">
	<meta content="Scythe, Discord, Arc, Of, Toll, Thunderhead, Bot, Discord, Music, Economy, Currency, Moderation, Command, HyperSkrub, Humboldt123, Github" name="keywords">
	<meta content="en_ US" property="og:locale">
	<link href="https://the-thunderhead.glitch.me/" rel="canonical">
	<meta content="https://the-thunderhead.glitch.me/" property="og:url">
	<meta content="The Thunderhead" property="og:site_name">
	<meta content="summary" name="twitter:card">
	<meta content="@HyperSkrub" name="twitter:site">
	<link href="https://cdn.glitch.com/8d7ee13d-7445-4225-9d61-e264d678640b%2Fa09f5b5e-9054-4afc-8dcc-67ede76ea11c-Thunder.png" id="favicon" rel="icon" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://hyperskrub.glitch.me/css/style.css" rel="stylesheet">
	<style>
	    /*Custom Stylin' I want smaller buttons for a sharper look and feel*/
	    body {
	      background: #101029;
	      color: #fff;
	      font-weight: 300;
	      margin: 0;
	      font-family: 'Inria Sans', sans-serif;
	   }
	      
	      button, .button {
	      font-size: 100%;
	   }
    .background {
      filter: blur(12px) brightness(50%);
    }
    
      .vibes { background-image: url('https://cdn.glitch.com/8d7ee13d-7445-4225-9d61-e264d678640b%2F32x32vibes.png');
    background-position: center center;
background-repeat: no-repeat;
background-size: 1em 1em;
display: inline-block;
height: 1em;
margin: 0 .05em 0 .1em;
vertical-align: -.1em;
width: 1em;}
    
	</style>
	<script defer src="/client.js">
	</script>
</head>
<body>
	<div class="fullscreen">
		<img class="avatara" src="https://cdn.glitch.com/8d7ee13d-7445-4225-9d61-e264d678640b%2Fa09f5b5e-9054-4afc-8dcc-67ede76ea11c-Thunder.png">
		<h1 class="background-text">The<br>Thunderhead</h1>
    <code>ver. 1.11.0(👍📈)</code>
    <a href="https://top.gg/bot/629799045954797609" >
  <img src="https://top.gg/api/widget/status/629799045954797609.svg" alt="Thunderhead" />
</a>
		<div class="row">
			<div class="row-smallpad">
				<button class="pink-button" onclick="window.location.href = '/leaderboard';">Leaderboard</button>
			</div>
			<div class="row-smallpad">
				<button class="invite-button" onclick="window.location.href = 'https://discordapp.com/oauth2/authorize?client_id=629799045954797609&scope=bot&permissions=8';">Invite</button>
			</div>
			<div class="row-smallpad">
				<button class="red-button" onclick="window.location.href = '/api/discord/login';">Your Balance</button>
			</div>
      <div class="row-smallpad">
				<button class="blue-button" onclick="window.location.href = 'https://top.gg/bot/629799045954797609/vote';">Vote</button>
			</div>
			<div class="row-smallpad">
				<button class="discord-button" onclick="window.location.href = 'https://discord.gg/xe4TVZs';">Arc of a Scythe Server</button>
			</div>
			<div class="row-smallpad">
				<button class="github-button" onclick="window.location.href = 'https://github.com/humboldt123/the-thunderhead';">Github Repo</button>
			</div>
		</div>
		<p><i>Your Arc of a Scythe-Themed Discord bot!<br>
		<br></i></p>
		<center>
      
      <br><br>
			<img alt="The Thunderhead cannot intervene in affairs of the Scythedom. All it can do is watch; with an unblinking eye." class="avatara" id="avatarSect" onerror="this.style.display='none'">
			<p id="textSect"></p>
			<script>
			docUrl=document.URL;const args=atob(docUrl.slice(35).trim()).split("?");document.getElementById("textSect").innerHTML=args[0].split("=")[1]+"#"+args[1].split("=")[1]+"\n Balance: "+args[3].split("=")[1]+"<i class='emoji vibes'></i>",document.getElementById("avatarSect").src="https://cdn.discordapp.com/"+args[2].split("=")[1];			</script>
		</center>
		
    <div class="background" id="image"></div>
		<script>
		        document.getElementById("image").style.backgroundImage = "url('https://cdn.glitch.com/8d7ee13d-7445-4225-9d61-e264d678640b%2Fthunder-eyes-background.png')";
		</script>
    
	</div><!--
I here believe that marking things off as "to-do" and commenting them out is an art form. A skill. Will I ever get around to it? Prolly not
- @HyperSkrub
-->
  </body>
</html>
